.over {
    overflow: hidden;
  


}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }





  /*
  @media screen and (max-width: 1550px) {
    .over{
        transform: scale(0.9);
    
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .over{
        transform: scale(0.8);
    
    }
  }

  @media screen and (max-width: 500px) {
    .over{
        transform: scale(0.5);
    
    }
  }
  */
