
@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
 }


  * {

    font-family: 'Inter-Regular';
    /*font-family: Copperplate, "Copperplate", Georgia, serif;*/
    }
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

     
}


